@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.terminus-font {
  font-family: var(--font-terminus-bold), sans-serif;
}


.custom-cursor {
  cursor: url('/images/custom.png'), auto;
}

html {
  cursor: url('/images/cursor.png') 40 40, auto !important;
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

a {
  cursor: url('/images/cursor.png') 40 40, auto !important;
}
button {
  cursor: url('/images/cursor.png') 40 40, auto !important;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
   
  }
  to {
    transform: translateX(0);
    opacity: 1;
   
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
